run = "npm install && npm run dev"
hidden = [".config", "package-lock.json", ".next"]

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[env]
NODE_ENV = "development"
PORT = "3000"
